In [1]:
#Dependencies 
import pandas as pd

In [2]:
#create variable for path of file we will open
filepath = 'data/purchase_data.csv'

In [3]:
df = pd.read_csv(filepath) #create df from csv file
df.count()
df.nunique()
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df.nunique()

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

#  Player Count

Display the total number of players

In [5]:
num_players = df['SN'].nunique() #count the number of unique players in the SN column 

player_count = pd.DataFrame({'Total Players' : num_players}, index=[0]) #create df with above data
player_count

   Total Players
0            576

 # Purchasing Analysis (Total)

In [6]:
num_items = df['Item ID'].nunique() #find number of unique items by item ID
num_items

183

In [7]:
total_revenue = df['Price'].sum() #calculate total revenue
total_revenue

2379.77

In [8]:
num_purchase = df['Purchase ID'].count() #calculate number of purchases
num_purchase

780

In [9]:
df_price = df.drop_duplicates(subset='Item ID')
avg_price = df_price.mean()['Price']
avg_price = round(avg_price, 2)
avg_price

3.04

In [10]:
stats_dictionary = {'Number of Unique Items' : num_items, 'Average Price' : avg_price, 'Number of Purchases' :
                   num_purchase, 'Total Revenue': total_revenue}
pd.DataFrame(stats_dictionary, index=[0])

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.04                  780        2379.77

# Gender Demographics

In [11]:
gender_count_df = df[['Gender', 'SN']] #create df with gender and SN column
gender_count_df = gender_count_df.drop_duplicates(subset='SN') #drop duplicate of SN to get unique people in a DF
gender_group = gender_count_df.groupby("Gender") 
gender_count = gender_group.count() #groupby gender
total_count = gender_count.sum() #get total number of people (this is being duplicated)
gender_percent = gender_count / total_count * 100 #create variable for count of each gender divided by the total
gender_percent = round(gender_percent, 2) #round to 2 decimal places
gender_count['Percent'] = gender_percent #add to DF created above
gender_count = gender_count.rename(columns={'SN':'Total Count'}) #rename column 
gender_count

                       Total Count  Percent
Gender
Female                          81    14.06
Male                           484    84.03
Other / Non-Disclosed           11     1.91

# Purchasing Analysis (Gender)

In [12]:
gender_ann = df.groupby('Gender')
gender_avg_price = gender_ann['Price'].mean() #get average purchase price by gender
gender_avg_price = round(gender_avg_price, 2) #round to nearest penny
gender_purchase_count = gender_ann['Purchase ID'].count() #get number of purchases by gender
gender_total_purchase = gender_ann['Price'].sum() #get total spent by gender
gender_avg_purchase = df.groupby(['Gender', 'SN']) #group by gender, then by person (grouping by gender may not have been necessary here)
mean1 = gender_avg_purchase['Price'].sum() #get total spent by person
gender_avg_purchase = mean1.groupby("Gender").mean() #get average total spent per person, by gender
gender_avg_purchase = round(gender_avg_purchase, 2) #round to the nearest penny

In [13]:
#create DF for analysis
purchase_analysis_gender = pd.DataFrame(gender_total_purchase)
#add columns to df
purchase_analysis_gender['Average Purchase'], purchase_analysis_gender['Average Price Per Item'], purchase_analysis_gender['Number of Purchases']  = gender_avg_purchase, gender_avg_price, gender_purchase_count
#rename first column
purchase_analysis_gender = purchase_analysis_gender.rename(columns={'Price': 'Total Spent'})
purchase_analysis_gender

,Total Spent,Average Purchase,Average Price Per Item,Number of Purchases
Gender,,,,
Female,361.94,4.47,3.20,113
Male,1967.64,4.07,3.02,652
Other / Non-Disclosed,50.19,4.56,3.35,15

# Age Demographics

In [14]:
max_age = df['Age'].max() #finf max age for bins list
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age] #create bins list
age_label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'] #create bins label list
ages = pd.DataFrame(df[['Age', 'SN']]) #create new df with only relevant data
ages = ages.drop_duplicates(subset='SN') #drop duplicate individuals/people
ages = ages.drop('SN', axis=1) #the SN column is no longer necessary
ages['Age Range'] = pd.cut(ages['Age'], age_bins, labels=age_label) #add bins column 
ages = ages.groupby('Age Range').count() #groupby each bin
ages = pd.DataFrame(ages) #convert groupby into a new df
ages = ages.rename(columns={'Age': 'Count'}) #rename column to be more descriptive 
age_percent = ages['Count']/num_players * 100 #calculate percentage
age_percent = round(age_percent, 2) #round to 2 decimal places
ages['Percentage of Players'] = age_percent #add percentage list to df
ages

           Count  Percentage of Players
Age Range
<10           17                   2.95
10-14         22                   3.82
15-19        107                  18.58
20-24        258                  44.79
25-29         77                  13.37
30-34         52                   9.03
35-39         31                   5.38
40+           12                   2.08

# Purchasing Analysis (Age)
 
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


Display the summary data frame

In [54]:
#age_bins
#age_labels

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Avg Total Purchase per Person

age_purchase = df #copy df
age_purchase['Age Range'] = pd.cut(age_purchase['Age'], age_bins, labels=age_label) #create bins
age_purchase = age_purchase.groupby('Age Range') #group by the bins
purchase_by_age = age_purchase.count()['Purchase ID'] #count number of purchases in each bin
avg_buy_by_age = round(age_purchase.mean()['Price'], 2) #get average purchase price and round to nearest penny
total_purchase_age = age_purchase.sum()['Price'] #get total purchased by age

total_purchase_by_age = df #.iloc[:,[1, 2, 6]]
total_purchase_by_age['Age Range'] = pd.cut(total_purchase_by_age['Age'], age_bins, labels=age_label) #create bins
total_purchase_by_sn = total_purchase_by_age.groupby('SN').sum()['Price']
total_purchase_by_sn = pd.DataFrame(total_purchase_by_sn)
total_purchase_by_sn = total_purchase_by_sn.rename(columns={'Price': 'Total Spent'})
total_purchase_by_age = pd.merge(total_purchase_by_age, total_purchase_by_sn, on='SN')
total_purchase_by_age

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range,Total Spent
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,10.02
1,67,Lisim78,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74,20-24,10.02
2,245,Lisim78,20,Male,85,Malificent Bag,1.75,20-24,10.02
3,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,1.56
4,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,4.88
5,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,3.27
6,4,Iskosia90,23,Male,131,Fury,1.44,20-24,1.44
7,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24,6.69
8,447,Yalae81,22,Male,120,Agatha,3.08,20-24,6.69
9,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39,2.18
10,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24,4.42
11,168,Iskjaskst81,20,Male,85,Malificent Bag,1.75,20-24,4.42
12,8,Undjask33,22,Male,21,Souleater,1.10,20-24,1.10
13,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39,7.52
14,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94,35-39,7.52
15,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24,11.11
16,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58,20-24,11.11
17,509,Inguron55,23,Male,117,"Heartstriker, Legacy of the Light",1.79,20-24,11.11
18,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24,6.86
19,99,Haisrisuir60,23,Male,101,Final Critic,4.19,20-24,6.86
20,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24,6.36
21,50,Saelaephos52,21,Male,22,Amnesia,2.18,20-24,6.36
22,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24,1.70
23,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39,9.18
24,264,Saesrideu94,35,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,35-39,9.18
25,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24,2.89
26,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24,2.52
27,17,Zontibe81,21,Male,161,Devine,1.76,20-24,8.03
28,442,Zontibe81,21,Male,84,Arcane Gem,3.79,20-24,8.03
29,560,Zontibe81,21,Male,2,Verdict,2.48,20-24,8.03
...,...,...,...,...,...,...,...,...,...
750,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+,1.97
751,729,Assylla81,20,Male,74,Yearning Crusher,4.18,20-24,4.18
752,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34,4.23
753,731,Eudanu84,22,Female,12,Dawne,1.02,20-24,1.02
754,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,20-24,4.40
755,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24,4.14
756,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20-24,1.75
757,738,Eusur90,36,Male,121,Massacre,1.60,35-39,1.60
758,739,Mindirranya33,35,Male,61,Ragnarok,3.87,35-39,3.87
759,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19,4.58
760,742,Isty55,20,Male,5,Putrid Fan,4.08,20-24,4.08
761,743,Frichilsa31,15,Male,110,Suspension,1.44,15-19,1.44
762,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,35-39,3.16
763,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20-24,3.08
764,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,20-24,2.27
765,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24,3.61
766,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14,3.36
767,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19,2.60
768,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39,4.23
769,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24,2.05
770,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19,4.60
771,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+,1.70
772,765,Irith83,18,Male,130,Alpha,2.07,15-19,2.07
773,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19,4.58
774,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19,4.35
775,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24,1.02
776,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14,4.19
777,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,3.54
778,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,3.46
779,778,Sisur91,7,Male,101,Final Critic,4.19,<10,4.19