In [2]:
#Dependencies 
import pandas as pd

In [3]:
#create variable for path of file we will open
filepath = 'data/purchase_data.csv'

In [4]:
df = pd.read_csv(filepath) #create df from csv file
df.count()
df.nunique()
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
df.nunique()

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

#  Player Count

Display the total number of players

In [6]:
num_players = df['SN'].nunique() #count the number of unique players in the SN column 

player_count = pd.DataFrame({'Total Players' : num_players}, index=[0]) #create df with above data
player_count

   Total Players
0            576

 # Purchasing Analysis (Total)

In [7]:
num_items = df['Item ID'].nunique() #find number of unique items by item ID
num_items

183

In [8]:
total_revenue = df['Price'].sum() #calculate total revenue
total_revenue

2379.77

In [9]:
num_purchase = df['Purchase ID'].count() #calculate number of purchases
num_purchase

780

In [10]:
df_price = df.drop_duplicates(subset='Item ID')
avg_price = df_price.mean()['Price']
avg_price = round(avg_price, 2)
avg_price

3.04

In [11]:
stats_dictionary = {'Number of Unique Items' : num_items, 'Average Price' : avg_price, 'Number of Purchases' :
                   num_purchase, 'Total Revenue': total_revenue}
pd.DataFrame(stats_dictionary, index=[0])

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.04                  780        2379.77

# Gender Demographics

In [12]:
gender_count_df = df[['Gender', 'SN']] #create df with gender and SN column
gender_count_df = gender_count_df.drop_duplicates(subset='SN') #drop duplicate of SN to get unique people in a DF
gender_group = gender_count_df.groupby("Gender") 
gender_count = gender_group.count() #groupby gender
total_count = gender_count.sum() #get total number of people (this is being duplicated)
gender_percent = gender_count / total_count * 100 #create variable for count of each gender divided by the total
gender_percent = round(gender_percent, 2) #round to 2 decimal places
gender_count['Percent'] = gender_percent #add to DF created above
gender_count = gender_count.rename(columns={'SN':'Total Count'}) #rename column 
gender_count

                       Total Count  Percent
Gender
Female                          81    14.06
Male                           484    84.03
Other / Non-Disclosed           11     1.91

# Purchasing Analysis (Gender)

In [13]:
gender_ann = df.groupby('Gender')
gender_avg_price = gender_ann['Price'].mean() #get average purchase price by gender
gender_avg_price = round(gender_avg_price, 2) #round to nearest penny
gender_purchase_count = gender_ann['Purchase ID'].count() #get number of purchases by gender
gender_total_purchase = gender_ann['Price'].sum() #get total spent by gender
gender_avg_purchase = df.groupby(['Gender', 'SN']) #group by gender, then by person (grouping by gender may not have been necessary here)
mean1 = gender_avg_purchase['Price'].sum() #get total spent by person
gender_avg_purchase = mean1.groupby("Gender").mean() #get average total spent per person, by gender
gender_avg_purchase = round(gender_avg_purchase, 2) #round to the nearest penny

In [14]:
#create DF for analysis
purchase_analysis_gender = pd.DataFrame(gender_total_purchase)
#add columns to df
purchase_analysis_gender['Average Purchase'], purchase_analysis_gender['Average Price Per Item'], purchase_analysis_gender['Number of Purchases']  = gender_avg_purchase, gender_avg_price, gender_purchase_count
#rename first column
purchase_analysis_gender = purchase_analysis_gender.rename(columns={'Price': 'Total Spent'})
purchase_analysis_gender

,Total Spent,Average Purchase,Average Price Per Item,Number of Purchases
Gender,,,,
Female,361.94,4.47,3.20,113
Male,1967.64,4.07,3.02,652
Other / Non-Disclosed,50.19,4.56,3.35,15

# Age Demographics

In [15]:
max_age = df['Age'].max() #finf max age for bins list
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age] #create bins list
age_label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'] #create bins label list
ages = pd.DataFrame(df[['Age', 'SN']]) #create new df with only relevant data
ages = ages.drop_duplicates(subset='SN') #drop duplicate individuals/people
ages = ages.drop('SN', axis=1) #the SN column is no longer necessary
ages['Age Range'] = pd.cut(df['Age'], age_bins, labels=age_label) #add bins column 
ages = ages.groupby('Age Range').count() #groupby each bin
ages = pd.DataFrame(ages) #convert groupby into a new df
ages = ages.rename(columns={'Age': 'Count'}) #rename column to be more descriptive 
age_percent = ages['Count']/num_players * 100 #calculate percentage
age_percent = round(age_percent, 2) #round to 2 decimal places
ages['Percentage of Players'] = age_percent #add percentage list to df
ages

           Count  Percentage of Players
Age Range
<10           17                   2.95
10-14         22                   3.82
15-19        107                  18.58
20-24        258                  44.79
25-29         77                  13.37
30-34         52                   9.03
35-39         31                   5.38
40+           12                   2.08

# Purchasing Analysis (Age)
 
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


Display the summary data frame

In [24]:
#age_bins
#age_labels

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Avg Total Purchase per Person

age_purchase = df #copy df
age_purchase['Age Range'] = pd.cut(df['Age'], age_bins, labels=age_label) #create bins
age_purchase = age_purchase.groupby('Age Range') #group by the bins
purchase_by_age = age_purchase.count()['Purchase ID'] #count number of purchases in each bin
avg_buy_by_age = round(age_purchase.mean()['Price'], 2) #get average purchase price and round to nearest penny
total_purchase_age = age_purchase.sum()['Price'] #get total purchased by age
total_purchase_age

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64